<ion-header>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Operation 1 - A001 - 2 Pieces - Herve MARTIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Eau Froide
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Volume (m3)</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">N° compteur</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Eau Chaude
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Volume (m3)</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">N° compteur</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Gaz
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Volume (m3)</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">PCE</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Electricite
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">KWh</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">PDL</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Compteur Libre 1
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Quantité</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Compteur Libre 2
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Quantité</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Compteur Libre 3
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Quantité</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Compteur Libre 4
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Quantité</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="kality/detaillot"
        text="Retour"
        icon="arrow-back"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        Sauver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
