<ion-content padding>
	<ion-list>
		<ion-item-divider color="secondary">
			<ion-label>
				Informations
			</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label position="stacked">
				Nom
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Contact
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Email
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Tel
			</ion-label>
			<ion-input type="tel" inputmode="tel" pattern="tel"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Fax
			</ion-label>
			<ion-input type="tel" inputmode="tel" pattern="tel"></ion-input>
		</ion-item>
		<ion-item-divider color="secondary">
			<ion-label>
				Adresse
			</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label position="stacked">
				Adresse 1
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Adresse 2
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Adresse 3
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Code Postal
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Ville
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
	</ion-list>
</ion-content>