<ion-header>
	<ion-toolbar fill="solid" color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Operation 1 - A001 - 2 Pieces - Herve MARTIN</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="reserves">
				<ion-label>Réserves</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="acquereur">
				<ion-label>Acquereur</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="agence">
				<ion-label>Agence Location</ion-label>
			</ion-tab-button>
			<ion-tab-button tab="locataire">
				<ion-label>Locataires</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>

<ion-footer>
	<ion-toolbar fill="solid" color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="kality/detaillot" text="Retour" icon="arrow-back"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="primary">
			<ion-button>
				Imprimer
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>