<ion-content padding>
	<ion-list>
		<ion-item-divider color="secondary">
			<ion-label>
				Contact
			</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label position="stacked">
				Civilité
			</ion-label>
			<ion-select interface="popover">
				<ion-select-option value="M">M.</ion-select-option>
				<ion-select-option value="Mme">Mme</ion-select-option>
				<ion-select-option value="Mlle">Mlle</ion-select-option>
				<ion-select-option value="MMme">M. & Mme</ion-select-option>
				<ion-select-option value="MMlle">M. & Mlle</ion-select-option>
				<ion-select-option value="MM">MM</ion-select-option>
				<ion-select-option value="SCI">SCI</ion-select-option>
				<ion-select-option value="SARL">SARL</ion-select-option>
				<ion-select-option value="SCI">Ste</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Prénom
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Nom
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Tel
			</ion-label>
			<ion-input type="tel" inputmode="tel" pattern="tel"></ion-input>
		</ion-item>
		<ion-item-divider color="secondary">
			<ion-label>
				Adresse
			</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label position="stacked">
				Adresse 1
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Adresse 2
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Adresse 3
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Code Postal
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">
				Ville
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
    <ion-item-divider color="secondary">
			<ion-label>
				Entree des lieux
			</ion-label>
		</ion-item-divider>
		<ion-item>
			<ion-label position="stacked">
				D
			</ion-label>
			<ion-input></ion-input>
		</ion-item>
	</ion-list>
</ion-content>