<ion-content padding>
	<ion-avatar slot="start">
		<img src="./avatar-finn.png">
          </ion-avatar>
		<ion-list>
			<ion-list-header>
				Chambre 1
			</ion-list-header>
			<ion-item>
				<ion-avatar slot="start">
					<ion-label color="success">
						B1
					</ion-label>
				</ion-avatar>
				<ion-label class="ion-text-wrap">
					<h2>Rayure sur le parquet à poncer</h2>
					<h3>Revêtement de sols souples - TOULESOL</h3>
				</ion-label>
				<ion-note slot="end" color="success">Levée</ion-note>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<ion-label color="warning">
						B2
					</ion-label>
				</ion-avatar>
				<ion-label class="ion-text-wrap">
					<h2>Coulures de peinture</h2>
					<h3>Peinture intérieure - Peinture de Paris</h3>
				</ion-label>
				<ion-note slot="end" color="warning">En cours</ion-note>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<ion-label color="success">
						B3
					</ion-label>
				</ion-avatar>
				<ion-label class="ion-text-wrap">
					<h2>Manque stop-porte</h2>
					<h3>Portes et fenêtres - Mensuiserie Gérard</h3>
				</ion-label>
				<ion-note slot="end" color="success">Levée</ion-note>
			</ion-item>
			<ion-list-header>
				Cuisine
			</ion-list-header>
			<ion-item>
				<ion-avatar slot="start">
					<ion-label color="success">
						B4
					</ion-label>
				</ion-avatar>
				<ion-label class="ion-text-wrap">
					<h2>Plinthe qui se décolle</h2>
					<h3>Menuiserie intérieure - Mensuiserie Gérard</h3>
				</ion-label>
				<ion-note slot="end" color="success">Levée</ion-note>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<ion-label color="warning">
						B5
					</ion-label>
				</ion-avatar>
				<ion-label class="ion-text-wrap">
					<h2>Carreau fendu sur le sol</h2>
					<h3>Carrelage - Les carreleurs bretons</h3>
				</ion-label>
				<ion-note slot="end" color="warning">En cours</ion-note>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<ion-label color="warning">
						B5
					</ion-label>
				</ion-avatar>
				<ion-label class="ion-text-wrap">
					<h2>Manque stop-porte</h2>
					<h3>Portes et fenêtres - Mensuiserie Gérard</h3>
				</ion-label>
				<ion-note slot="end" color="success">Levée</ion-note>
			</ion-item>
		</ion-list>
</ion-content>