<ion-header>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Operation 1 - A001 - 2 Pieces - Herve MARTIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nom de la SCI (si applicable)</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nom de la personne/société représentant l'acquéreur (si applicable)</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Code d'accès de la résidence</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ville</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date de signature</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date de prise de possession</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="kality/detaillot" text="Retour" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button href="kality/pvdocuments">
        Suivant
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>