<ion-split-pane contentId="main-content">
  <ion-menu side="end" content-id="main-content">
    <ion-content>
      <ion-tabs>
        <ion-tab-bar slot="top" color="primary">
          <ion-tab-button tab="reserves">
            <ion-label>Réserves</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="acquereur">
            <ion-label>Acquéreur</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="agence">
            <ion-label>Agence Location</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="locataire">
            <ion-label>Locataires</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
    <ion-footer>
      <ion-toolbar fill="solid" color="primary">
        <!--<ion-buttons slot="start">
					<ion-back-button defaultHref="kality/lotlist" text="Retour" icon="arrow-back"></ion-back-button>
				</ion-buttons>-->
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar fill="solid" color="primary">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Operation 1 - A001 - 2 Pieces - Herve MARTIN</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <ion-slides #swiper pager="true" [options]="slideOpts" zoom="true">
        <ion-slide>
          <div id="map1" style="width : 100%" [style.height.px]="height"></div>
        </ion-slide>
        <ion-slide>
          <div id="map2" style="width : 100%" [style.height.px]="height"></div>
        </ion-slide>
        <ion-slide>
          <div id="map3" style="width : 100%" [style.height.px]="height"></div>
        </ion-slide>
      </ion-slides>
    </ion-content>
    <ion-footer>
      <ion-toolbar fill="solid" color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="kality/lotlist" text="Retour" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button href="kality/compteur">
            <ion-icon slot="start" name="star"></ion-icon>Compteur
          </ion-button>
          <ion-button href="kality/solde">
            <ion-icon slot="start" name="star"></ion-icon>Solde
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-select interface="popover">
            <ion-select-option value="Tout" selected>Toutes visites [0/4]</ion-select-option>
            <ion-select-option value="TemoinTechnique">Temoin technique</ion-select-option>
            <ion-select-option value="PreVisite">Pre-Visite</ion-select-option>
            <ion-select-option value="VAC">VAC</ion-select-option>
            <ion-select-option value="OPR">OPR [2/3]</ion-select-option>
            <ion-select-option value="PreLivraison">Pre-Livraison</ion-select-option>
            <ion-select-option value="OPL">OPL</ion-select-option>
            <ion-select-option value="MiseADisposition">Mise a disposition</ion-select-option>
            <ion-select-option value="EtatDesLieux">Etat des lieux [0/1]</ion-select-option>
            <ion-select-option value="Production">Production</ion-select-option>
            <ion-select-option value="VisiteA30J">Visite a 30 J</ion-select-option>
            <ion-select-option value="GPA">GPA</ion-select-option>
          </ion-select>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
</ion-split-pane>