<ion-header>
	<ion-toolbar fill="solid" color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Operation 1 - A001 - 2 Pieces - Herve MARTIN</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-slides #swiper pager="true" [options]="slideOpts" zoom="true">
		<ion-slide>
			<div id="map1" style="width : 100%; height : 750px;"></div>
		</ion-slide>
		<ion-slide>
			<div id="map2" style="width : 100%; height : 750px;"></div>
		</ion-slide>
		<ion-slide>
			<div id="map3" style="width : 100%; height : 750px;"></div>
		</ion-slide>
	</ion-slides>
</ion-content>

<ion-footer>
	<ion-toolbar fill="solid" color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="kality/lotlist" text="Retour" icon="arrow-back"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-select interface="popover">
				<ion-select-option value="Tout" sele>Toutes visites</ion-select-option>
				<ion-select-option value="TemoinTechnique">Temoin technique</ion-select-option>
				<ion-select-option value="PreVisite">Pre-Visite</ion-select-option>
				<ion-select-option value="VAC">VAC</ion-select-option>
				<ion-select-option value="OPR">OPR</ion-select-option>
				<ion-select-option value="PreLivraison">Pre-Livraison</ion-select-option>
				<ion-select-option value="OPL">OPL</ion-select-option>
				<ion-select-option value="MiseADisposition">Mise a disposition</ion-select-option>
				<ion-select-option value="EtatDesLieux">Etat des lieux</ion-select-option>
				<ion-select-option value="Production">Production</ion-select-option>
				<ion-select-option value="VisiteA30J">Visite a 30 J</ion-select-option>
				<ion-select-option value="GPA">GPA</ion-select-option>
			</ion-select>
		</ion-buttons>
		<!--<ion-segment scrollable="true" slot="end">
			<ion-segment-button>
				<ion-label>Temoin<br />technique</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>Pre-<br />visite</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>VAC</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>OPR</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>Pre-<br />Livraison</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>OPL</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>Mise<br />a disposition</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>Etat<br />des lieux</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>Production</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>Visite<br />a 30 J</ion-label>
			</ion-segment-button>
			<ion-segment-button>
				<ion-label>GPA</ion-label>
			</ion-segment-button>
		</ion-segment>-->
	</ion-toolbar>
</ion-footer>