<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-card button="true" href="kality/detaillot">
          <ion-card-header>
            <ion-card-subtitle>{{batiment}}001 / 2 pieces</ion-card-subtitle>
            <ion-card-title>Herve MARTIN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            01 XX XX XX XX
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card button="true" href="kality/detaillot">
          <ion-card-header>
            <ion-card-subtitle
              >{{batiment}}002/ 2 pieces / 257</ion-card-subtitle
            >
            <ion-card-title>Achille TALON</ion-card-title>
          </ion-card-header>
          <ion-card-content>&nbsp;</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card button="true" href="kality/detaillot">
          <ion-card-header>
            <ion-card-subtitle
              >{{batiment}}003 / 2 pieces / 258</ion-card-subtitle
            >
            <ion-card-title>Marc DE CAFE</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            01 XX XX XX XX
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card button="true" href="kality/detaillot">
          <ion-card-header>
            <ion-card-subtitle>{{batiment}}004 / 2 pieces</ion-card-subtitle>
            <ion-card-title>Herve MARTIN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            01 XX XX XX XX
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card button="true" href="kality/detaillot">
          <ion-card-header>
            <ion-card-subtitle
              >{{batiment}}005/ 2 pieces / 257</ion-card-subtitle
            >
            <ion-card-title>Achille TALON</ion-card-title>
          </ion-card-header>
          <ion-card-content>&nbsp;</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card button="true" href="kality/detaillot">
          <ion-card-header>
            <ion-card-subtitle
              >{{batiment}}006 / 2 pieces / 258</ion-card-subtitle
            >
            <ion-card-title>Marc DE CAFE</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            01 XX XX XX XX
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
