<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        {{batiment}}001 - Frederic JAILLARD / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{batiment}}002 - Achille DESERT / 2 pieces / 257</ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label
        >{{batiment}}003 - Marc MERIEMKOULI / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        {{batiment}}004 - Frederic JAILLARD / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{batiment}}005 - Achille DESERT / 2 pieces / 257</ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label
        >{{batiment}}006 - Marc MERIEMKOULI / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        {{batiment}}007 - Frederic JAILLARD / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{batiment}}008 - Achille DESERT / 2 pieces / 257</ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label
        >{{batiment}}009 - Marc MERIEMKOULI / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        {{batiment}}010 - Frederic JAILLARD / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{batiment}}011 - Achille DESERT / 2 pieces / 257</ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label
        >{{batiment}}012 - Marc MERIEMKOULI / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-button (click)="onOpen()">
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
