<ion-content padding>
  <ion-list>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}001 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}002 - Achille TALON / 2 pieces / 257</ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label
        >{{batiment}}003 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}004 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}005 - Achille TALON / 2 pieces / 257</ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label
        >{{batiment}}006 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}007 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}008 - Achille TALON / 2 pieces / 257</ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label
        >{{batiment}}009 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}010 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}011 - Achille TALON / 2 pieces / 257</ion-label>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label
        >{{batiment}}012 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
