<ion-header>
  <ion-toolbar fill="solid" color="primary">
    <ion-title>Operation 1 <br />13 rue du chat qui peche<br />
      75005 Paris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="batimentA">
        <ion-label>Batiment A</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="batimentB">
        <ion-label>Batiment B</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="batimentC">
        <ion-label>Batiment C</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="entreprise">
        <ion-label>Visite d'entreprise</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>