<ion-content padding>
  <ion-list>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}001 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="danger">0/11</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}002 - Achille TALON / 2 pieces / 257</ion-label>
      <ion-badge color="danger">1/12</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}003 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="warning">3/5</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}004 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="success">21/23</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}005 - Achille TALON / 2 pieces / 257</ion-label>
      <ion-badge color="danger">0/12</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}006 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="danger">0/12</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}007 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="warning">7/21</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}008 - Achille TALON / 2 pieces / 257</ion-label>
      <ion-badge color="warning">8/14</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}009 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="warning">9/17</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>
        {{batiment}}010 - Herve MARTIN / 2 pieces
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="warning">4/7</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}011 - Achille TALON / 2 pieces / 257</ion-label>
      <ion-badge color="warning">14/31</ion-badge>
    </ion-item>
    <ion-item button (click)="onOpen()">
      <ion-label>{{batiment}}012 - Marc DE CAFE / 2 pieces / 258
        <p>01 XX XX XX XX</p>
      </ion-label>
      <ion-badge color="success">21/21</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="kality/lotl/entreprise/recherche" text="Retour" icon="arrow-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>