<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble1.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 1</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble1.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 2</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble2.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 3</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble3.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 4</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble1.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 5</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble2.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 6</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble3.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 7</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col size="12" size-sm="4">
				<ion-card button="true" href="kality/lotlist">
					<img src="https://stackblitz.com/files/ionic-v4-kality/github/MatsuKaki/ionic-v4-kality/master/src/app/pages/kality/pictures/immeuble3.jpg" />
					<ion-card-header>
						<ion-card-title>Operation Title 8</ion-card-title>
						<ion-card-subtitle>Nb Lot</ion-card-subtitle>
					</ion-card-header>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
	<ion-toolbar fill="solid" color="primary">
		<ion-buttons slot="secondary">
			<ion-button fill="solid" (click)="onSynchronize()">
				<ion-icon slot="end" name="refresh"></ion-icon>
				Synchronisation
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>