<ion-header>
	<ion-toolbar fill="solid" color="primary">
		<ion-title>Operation 1<br />
      Edition de documents OPR</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-item button href="kality/editiondocuments/hervemartin">
			<ion-label>
				Herve MARTIN
			</ion-label>
			<ion-badge>4</ion-badge>
		</ion-item>
		<ion-item button>
			<ion-label>
				Marc DE CAFE
			</ion-label>
			<ion-badge>3</ion-badge>
		</ion-item>
		<ion-item button>
			<ion-label>
				Achille TALON
			</ion-label>
			<ion-badge>5</ion-badge>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
	<ion-toolbar fill="solid" color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="kality/lotlist" text="Retour" icon="arrow-back"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>