<ion-header>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Operation 1 - A001 - 2 Pieces - Herve MARTIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label >
              Clés gardées par Kaufman & Broad
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Jusqu'au</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="4" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Portes palières
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Boîte aux lettres
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Cave
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Bips parking
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Vigiks
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="4" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>
              Carte de propriété
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-input type="text" placeholder="Saisir libellé clé 1"></ion-input>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-input type="text" placeholder="Saisir libellé clé 2"></ion-input>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-input type="text" placeholder="Saisir libellé clé 3"></ion-input>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="3" size-sm="6">
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-input type="text" placeholder="Saisir libellé clé 4"></ion-input>
          </ion-item-divider>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="number" inputmode="decimal"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Référence</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar fill="solid" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="kality/detaillot" text="Retour" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        Sauver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>